.about {
    width:98%;
    margin: auto;
    background-image: url(/public/ug.png);
    text-align: center;
    padding-top: 8%;
  }

  h1 {
    font-size: 30px;
    font-weight: 600;
  }

  .about p {
    color: #777;
    font-size: 20px;
    font-weight: 300;
    padding: 10px;
    
  }

  .about-col {
    transition: transform 1s;
    width: 25%;
    display: inline-block;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 5px;
    position: relative;
    background:aliceblue;
    margin: 2%;
  }
  

  .about-col:hover {
    transform: scale(1.03, 1.03);
  }

  .image img {
    width: 100px;
    height: 100px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
  }

  .about h3 {
    font-family: "Alegreya Sans SC", sans-serif;
  }

  .about-col p {
    padding: 3px;
    text-align: center;
    padding-top: 10px;
    border-radius: 2.8rem;
    margin: 10px;
    z-index: -1;
    font-family: "NTR", sans-serif;
    font-size: 1.2rem;
  }

  .heading {
    font-size: 36px;
    font-weight: 600;
    font-family: "Alegreya Sans SC", sans-serif;
  }

 

  
  #myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: rgba(255, 68, 68, 0.877);
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 50px;
    font-size: 18px;
  }
  #myBtn:hover {
    background-color: black;
  }
